.container {
  display: flex;
  height: 3rem;
  gap: 10px;
}
.playlist-icon {
  height: 100%;
}
.playlist-icon img {
  height: 100%;
}
.playlist-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0 5px 0;
}

.playlist-detail > p:nth-child(2) {
  font-size: 70%;
}
